[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
aiohttp = "*"
pyyaml = "*"
requests = "*"
option = "*"

[dev-packages]
black = "*"
ruff = "*"
youtube-dl = "*"
isort = "*"

[requires]
python_version = "3.11"
